In [4]:
for(int i=1; i<6; i++) {
    for (int j=1; j<=i; j++) {
        System.out.print(j);
    }
    System.out.println();
}

1
12
123
1234
12345

In [6]:
for(int i=1; i<6; i++) {
    for (int j=1; j<=i; j++) {
        System.out.print(i);
    }
    System.out.println();
}

1
22
333
4444
55555

In [49]:
import java.util.Scanner;
Scanner sc = new Scanner(System.in);
char[][] nama = new char[4][5];
char [] huruf = new char[4];
int [] angka = new int[4];
int hasil, name;
for(int i=0; i<nama.length; i++) {
    for(int j=0; j<nama[0].length; j++) {
        System.out.print("Masukkan Nama Lengkap: ");
        nama[i][j] = sc.next().charAt(0);
    }
}
for(int i=0; i<nama.length; i++) {
    for(int j=0; j<nama[0].length; j++) {
        name = nama[i][j];
        if(angka[i]<name){
            angka[i] = name;
        }
    }
}

for(int i=0; i<nama.length; i++) {
   for(int j=0; i<nama[0].length; j++) {
       huruf[i] = (char) angka[i];
       if(huruf[i]==nama[i][j]) {
           hasil=j;
           break;
       }
   }
   System.out.print(huruf[i]+"adalah huruf terbesar pada baris " + (i+1) + " berada di kolom " + (hasil+1));
   System.out.println();
}

Masukkan Nama Lengkap: N
Masukkan Nama Lengkap: E
Masukkan Nama Lengkap: D
Masukkan Nama Lengkap: D
Masukkan Nama Lengkap: Y
Masukkan Nama Lengkap: P
Masukkan Nama Lengkap: R
Masukkan Nama Lengkap: A
Masukkan Nama Lengkap: T
Masukkan Nama Lengkap: A
Masukkan Nama Lengkap: M
Masukkan Nama Lengkap: A
Masukkan Nama Lengkap: W
Masukkan Nama Lengkap: I
Masukkan Nama Lengkap: R
Masukkan Nama Lengkap: Y
Masukkan Nama Lengkap: A
Masukkan Nama Lengkap: W
Masukkan Nama Lengkap: A
Masukkan Nama Lengkap: N
Yadalah huruf terbesar pada baris 1 berada di kolom 5
Tadalah huruf terbesar pada baris 2 berada di kolom 4
Wadalah huruf terbesar pada baris 3 berada di kolom 3
Yadalah huruf terbesar pada baris 4 berada di kolom 1

In [30]:
import java.text.SimpleDateFormat;
import java.util.Date;
Date tgl = new Date();
int m;
String bulan[] = {"Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"};
SimpleDateFormat day = new SimpleDateFormat("d");
SimpleDateFormat month = new SimpleDateFormat("M");
SimpleDateFormat years = new SimpleDateFormat("Y");
String hari = day.format(tgl);
String bulann = month.format(tgl);
String tahun = years.format(tgl);
bulann = bulan[10];
System.out.println(hari+"-"+bulann+"-"+tahun);

17-November-2021